<md-sidenav
    md-component-id="left"
    class="md-sidenav-left nl-sidebar-custom"
    md-is-locked-open="true"
    style="width: 200px; font-weight: 900;"
    id="sidebar-menu">

  <md-select ng-model="selectedDatabase"
             md-on-close="clearSearchTerm()"
             ng-change="changeDatabase()"
             class="md-no-underline nl-dropdown-menu"
             placeholder="Choose Database">
    <md-select-header>
      <input ng-model="searchTerm"
             type="search"
             placeholder="Search for database. .."
             class="nl-dropdown-input md-text">
    </md-select-header>
    <md-optgroup>
      <md-option ng-value="database" ng-repeat="database in databases |
              filter:searchTerm">{{database}}</md-option>
    </md-optgroup>
  </md-select>

  <md-divider></md-divider>
  <md-content class="sidebar-header">
    Tables
  </md-content>
  <md-divider></md-divider>

  <md-content flex row="navigation" class="nl-sidebar-item-group">
    <ul class="nl-sidebar-ul">
      <div ng-repeat="table in tables">
        <li class="sidebar-header">
          <a class="md-button nl-sidebar-button"
             ng-click="selectTable($index)">
            {{table.name}}
          </a>
        </li>
      </div>
    </ul>
  </md-content>
  <md-divider></md-divider>
  <md-content class="sidebar-item" ng-click="logout()">
    <a class="md-button nl-sidebar-button"
        style="font-weight: 900; height: 48px;">Logout</a>
  </md-content>

</md-sidenav>

<div class="nl-main-panel layout-column flex" layout="column">
  <md-toolbar class="nl-toolbar">
    <div class="md-title" ng-model="tableName">{{selectedTable}}</div>
  </md-toolbar>

  <md-content class="md-scroll-y nl-content-under-toolbar" layout="column">

      <md-card style="margin: 0px">

        <md-toolbar class="md-table-toolbar alternate" ng-show="selected.length" style="position: fixed">
          <div class="md-toolbar-tools"
               layout="row"
               style="height: 48px;">
            <span>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</span>

          </div>

        </md-toolbar>

        <md-table-container>
          <table md-table
                 md-row-select
                 multiple
                 ng-model="selected">

            <thead ng-if="tableRows.length > 1" md-head>
            <tr md-row >
              <th md-column ng-repeat="col in colNames"><span>{{col}}</span></th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row
                md-select="row"
                md-select-id="id"
                ng-repeat="row in tableRows">
                <td ng-click="clickCell($event, value)"
                    md-cell
                    ng-repeat="(key, value) in row">{{value}}</td>
            </tr>
            </tbody>
          </table>
        </md-table-container>
      </md-card>
  </md-content>

  <footer class="nl-footer">
    <md-toolbar class="nl-toolbar" layout="row" layout-align="left center">
      <md-button ng-click="insertData($event)">
        <md-tooltip
            md-direction="top"
            ng-model="insertTooltip">
          {{insertTooltip}}
        </md-tooltip>
        Insert
      </md-button>
      <md-button ng-click="updateData($event)">
        <md-tooltip
            md-direction="top"
            ng-model="updateAndDeleteTooltip">
          {{updateAndDeleteTooltip}}
        </md-tooltip>Update</md-button>
      <md-button ng-click="deleteData()">
        <md-tooltip
            md-direction="top"
            ng-model="updateAndDeleteTooltip">
          {{updateAndDeleteTooltip}}
        </md-tooltip>Delete</md-button>
      <md-button ng-click="refreshData()">Refresh</md-button>
      <md-button ng-click="showHelp()">Help</md-button>
    </md-toolbar>
  </footer>

</div>
