<md-dialog style="height: 500px; width: 500px;">
  <md-toolbar class="nl-toolbar">
    <md-dialog-content ng-model="dialogTitle">{{dialogTitle}}</md-dialog-content>
  </md-toolbar>
  <md-dialog-content class="nl-content-under-toolbar" layout="row">
    <md-card>
      HELLO WORLD
    </md-card>
  </md-dialog-content>
  <footer class="nl-footer">
    <md-toolbar class="nl-toolbar" layout="row" layout-align="left center">
      <md-button >Execute</md-button>
      <md-button ng-click="hide()">Cancel</md-button>
    </md-toolbar>
  </footer>
</md-dialog>

